    </main>
</body>
<br>
<br>
<nav>
<h4>
    <li>
        <% if (user) { %>
            <h4>Logged In as:
                <%=user.email%>
            </h4>
        <a href="/logout">Sign Out</a>
        <% } else { %>
        <a href="/auth/google">Sign in with Google</a>
        <% } %>
        </li>
</h4>
</nav>
</html>