    </main>
</body>
<br>
<br>
<!-- <nav> -->
<h4>
        <% if (user) { %>
            <p>Logged In as:
                <%=user.name%>
            </p>
        <a href="/logout">Sign Out</a>
        <% } else { %>
        <a href="/auth/google">Sign in with Google</a>
        <% } %>
</h4>
<a href="show" <%- title==='See All Assets' ? 'class="active"' : '' %>>See All Your Assets </a>
<br>
<a href="new" <%- title==='Rooms and Assets' ? 'class="active"' : '' %>>Create Rooms and Add your Assests</a>
<!-- </nav> -->
</html>