<%- include('../partials/header') %>

<h2>Create Your Room</h2>
<form id="add-room" action="/rooms/new" method="POST">
  <label>Room</label>
  <select name="name">
    <option value="LVRM">Living Room</option>
    <option value="KTCH">Kitchen</option>
    <option value="BEDRM">Bed Room</option>
    <option value="GUESTRM">Guest Room</option>
    <option value="DNGROOM">Dining Room</option>
    <option value="GARAGE">Garage </option>
    <option value="DEN">Den</option>
    <option value="OFFICE">Office</option>
  </select>
  <br>
  <br>
  <label>Room Description</label>
  <textarea name="description"></textarea>
  <button type="submit">Add Room</button>
</form>
<br>
<a href="/rooms/show">Back to Your Rooms</a>
<%- include('../partials/footer') %>