<%- include('../partials/header') %>
<!-- add to room form below -->
<form id="add-room" action="/rooms/:id" method="POST">
    <label>Room</label>
    <select name="room">
    <option value="LVRM">Living Room</option>
    <option value="KTCH">Kitchen</option>
    <option value="BEDRM">Bed Room</option>
    <option value="KITCN">Kitchen</option>
    <option value="GUESTRM">Guest Room</option>
    <option value="DNGROOM">Dining Room</option>
    <option value="GARAGE">Dining Room</option>
    <option value="DEN">Dining Room</option>
    <option value="OFFICE">Dining Room</option>
    <option value="MUSICROOM">Music Room</option>
</select>
</form>
<br>

<%- include('../partials/footer') %>