<%- include('../partials/header') %>
<!-- add to room form below -->
<form id="add-room" action="/rooms/:id" method="POST">
    <label>Room</label>
    <select name="room">
    <option value="LVRM">Living Room</option>
    <option value="KTCH">Kitchen</option>
    <option value="BEDRM">Bed Room</option>
    <option value="KITCN">Kitchen</option>
    <option value="GUESTRM">Guest Room</option>
    <option value="DNGROOM">Dining Room</option>
    <option value="GARAGE">Dining Room</option>
    <option value="DEN">Dining Room</option>
    <option value="OFFICE">Dining Room</option>
    <option value="MUSICROOM">Music Room</option>
</select>
</form>
<br>
<form id="add-per-to-room" method="POST" action="/items">
  <label>Item Description:</label>
  <textarea name="content"></textarea>
  <select name="items">
    <option value="DESK">DESK</option>
    <option value="OCHAIR">Office Chair</option>
    <option value="BED">Bed</option>
    <option value="FOOTREST">Foot Rest</option>
    <option value="LOUNGECHAIR">Lounge Chair</option>
    <option value="TV">Dining Room</option>
    <option value="TV">Television</option>
    <option value="TABLE">Table</option>
    <option value="TBLCHAIR">Table Chair</option>
    <option value="KCHAIR">Kitchen Chair</option>
    <option value="KCHAIR">Kitchen Table</option>
    <option value="STOVE">Stove</option>
    <option value="BLENDER">Blender</option>
    <option value="GUITAR">Guitar</option>
    <option value="FRIG">Refrigator</option>
  </select>
  <input type="submit" value="Add Item">
</form>


<%- include('../partials/footer') %>