<%- include('../partials/header') %>
  <!-- add to room form below -->
  <form id="show-room" action="/rooms" method="GET">
    <label>Choose Room</label>
    <select name="room">
      <option value="LVRM">Living Room</option>
      <option value="KTCH">Kitchen</option>
      <option value="BEDRM">Bed Room</option>
      <option value="KITCN">Kitchen</option>
      <option value="GUESTRM">Guest Room</option>
      <option value="DNGROOM">Dining Room</option>
      <option value="GARAGE">Dining Room</option>
      <option value="DEN">Dining Room</option>
      <option value="OFFICE">Dining Room</option>
      <option value="MUSICROOM">Music Room</option>
    </select>
    <br>
    <br>
    <%= room %>
<!-- <table>
  <thead>
    <tr>
      <th>Room  </th>
      <th>Asset </th>
      <th>Details </th>
      <th>Delete </th>
    </tr>
  </thead> -->
  <%- include('../partials/footer') %>