<%- include('../partials/header') %>
<label>Room Description for: <%= room %></label>
<form action="/rooms/<%= room %>?_method=PUT" method="POST">
  <textarea name="description"></textarea>
  <button type="submit">Update Room Description</button>
</form>

<%- include('../partials/footer') %>
