<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %></p>
    <br>

<h5>Take Inventory of your assets BEFORE disaster strikes</h5>

<ul class="right">
    <% if (user) { %>
        <a href="/logout">Log Out</a>
        <% } else { %>
        <a href="/auth/google">Login with Google</a>
    <% } %>
</ul>
<br>
</body>
<br>
</html>
