body {
  background: #FFFFFF;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

a {
  /* color: rgb(166, 255, 0); */
  color: rgb(3, 17, 20);
  /* color: rgb(177, 255, 74); */
  /* color: #BC1AF0; */
  /* color: #E84F65; */
  /* color: #E84F65; */
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

title {
  color: black;
}
table, th, td {
  border: 2px solid darkblue;
  border-radius: 5%;
  padding: 5px;
  background-color: blanchedalmond;
  font-weight: bold;
}

table {
  border-spacing: 10px;
}

div {
  border-radius: 5%;
  border: 2px solid darkblue;
  padding: 5px;
  font-weight: bold;
}

header {
  position: absolute;
  width: 1140px;
  height: 64px;
  left: 30px;
  top: 64px;
}

nav {
  display: flex;
  flex-direction: row 3fr;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif";
}
