.container {
  display: flexbox;
   /* margin-bottom: 50%; */
    /* The image used */
    
  
    /* Set a specific height */
    height: 100%;
    width: 100%;
    background-image:url(../../images/Fire1.jpg);
  }