<%- include('../partials/header') %>
<form id="add-asset-form" action="/rooms/<%= rooms_:id %>/items" method="POST">
  <label>Asset:</label>
  <input type="text" name="name" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">
  <input id="add" type="submit" value="Add Asset">
  <label>Description</label>
  <input type="text" name="asDescript">
  <label>Date of Purchase</label>
  <input type="date" name="date">
</form>

<%- include('../partials/footer') %>