.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image:hover img {
  transform: scale(1.5);
}

body {
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: .3%;
  font-size: 1.9vh;
 /* background-color: rgba(169, 189, 159, 0.8); */
  opacity: .5;
  background-image:url(../../images/Fire1.jpg);
  height: 100vh;
  width: 100%;
}